/* Imports */

/* Poppins Regular  font-weight:400*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Poppins Medium font-weight: 500 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Poppins Bold font-weight: 700 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); 

/* Heebo font-weight: 700 */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap');

/* Roots */

:root {
    /* Light Mode */
    --clr-primary:rgb(232, 232, 232);
    --clr-dark:#0B0B0B; 
    --clr-semi-dark: #101010;
    --clr-light: #888888;
    --clr-very-dark: rgb(8, 8, 8);

    /* Font Size */
    --head:50px;
    --subhead: 25px;
    --paragraph: 20px;

    /* Font weights */
    --bold: 700;
    --regular: 400;
    --medium: 500;    
}


* {
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.dark-theme {
    --clr-primary:#0B0B0B;
    --clr-dark:rgb(214, 214, 214);
    --clr-semi-dark: #bcbcbc;
    --clr-light: #101010;
    --clr-very-dark: rgb(255, 255, 255);
}

body {
    color:#ffffff;
    cursor: pointer;
}

body::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border: 1px solid transparent;        
    cursor: grab;  
}

body::-webkit-scrollbar-track {
    border-radius:30px;
    background-color: var(--clr-dark);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--clr-light);  
    border-radius: 30px;   
}

 #preloader {
    background:#000 url(images/loader.gif) no-repeat center center;
    background-size: 100%; 
    height:100vh;
    width:100%;
    position: fixed;
    z-index:100;
}

.container {
    max-width: 250px;
    margin:0 auto;
}

.navbar {
    background-color: var(--clr-very-dark);
    position: relative;
    z-index: 100;
}

.hover-state {
    position:fixed;
    right:10px;
    bottom:50px;
    font-size:20px;
    background-color:var(--clr-primary);
    border-radius:10px;
    padding:10px 15px;
    display: none;
}

.hover-state a {
    text-decoration: none;
    color:var(--clr-very-dark);
}

nav {
    width:100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 50px 0;
    z-index: 99;
} 

nav h1 {
    font-family: 'Poppins', sans-serif;
    font-size:20px;
    line-height: 29px;
    font-weight: 700;
    color:var(--clr-primary);
}

nav sup {
    color:var(--clr-primary);
    font-size: 25px;
}

#mobileld-mode {
    margin: 0;
    cursor: pointer;
}

.hamburger {
    display: block;
    position: relative;
    margin-top:5px;
    margin-right: 15px;
    right:21%;
    z-index: 99;
    user-select: none;
    background: transparent;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding:5px;
}

.hamburger span {
    display: block;
    height:4px;
    width:33px;
    margin-bottom:5px;
    position: relative;

    background-color: var(--clr-primary);
    border-radius:6px;
    z-index: 99;

    transform-origin: 0 0;

    transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color:var(--clr-primary);
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(50px);
}

.hamburger.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span {
    background-color:var(--clr-primary);
    z-index:99;
}

.menu {
    display: none;
}

.mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left:100%;
    height:100vh;
    z-index: 50;
    background-color: var(--clr-very-dark);
    padding-top:120px;
    transition:0.4s;
}

.mobile-nav.is-active {
    left:0;
}

.mobile-nav a{
    margin-top:20px;
    display: block;
    text-align:center;
    color:var(--clr-primary);
    font-size:30px;
    font-weight:700;
    text-decoration: none;
}

.welcome-section {
    margin-top:50%;
    padding:10px 0;
} 

.projects {
    width: 100vw;
    height: 500vh;
    background-color:var(--clr-very-dark);
}

.projects h1 {
    margin-top: 120px;
    color: var(--clr-primary);
}

.project-grid {
    display: flex;
    flex-direction: column;
}

.project {
    margin-top: 30px;
}

.project {
    display: flex;
    flex-direction: column;
    margin:27px 0;
}

.project img {
    width:100%;
    border-radius:5px;
}

.proj-deets {
    background-color: var(--clr-semi-dark);
    /* padding:0 10px; */
}

.proj-deets > * {
    padding: 0 10px;
}

.project h2 {
    padding-top:10px;
    font-size:20px;
    line-height:24px;
    overflow:hidden;
    color:var(--clr-primary);
}

.project p {
    color: var(--clr-primary);
    font-size:14px;
    width:100%;
    margin-bottom:10px;
}

.btn {
    margin-bottom:15px;
    font-size:15px;
    font-weight:700;
    border: none;
    background-color: var(--clr-primary);
    padding:5px 10px;
    color:var(--clr-semi-dark);
    border-radius:7px;
    cursor: pointer;
    position: relative;
    left:63%;
}

.btn:hover {
    opacity:0.7;
    transition:0.2s
}

.footer {
    width:100%;
    margin-top:50%;
}

.footer h5 {
    color:var(--clr-primary);
    padding:10px 0px;
    border-top:2px solid var(--clr-primary);
}

@media all and (min-width: 768px) {
    .container {
        max-width:720px;
    }

    #mobileld-mode {
        position:relative;
        left: 27%;
    }

    .hamburger {
        right:10%;
    }

    .projects {
        height: 380vh;
    }

    .projects h1 {
        font-size: 50px;
        margin-bottom: 40px;
    }

    .project-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .project {
        margin-top: -10px;
    }

    
    .footer {
        height: 10vh;
        width:100%;
        margin-top:10%;
    }
}

@media all and (min-width: 1180px) {
    #preloader {
        background-size:90%;
    }
    
    #mobileld-mode {
        display: none;
    }

    .container {
        max-width: 1000px;
    }

    .hover-state {
        display: block;
    }

    .logo {
        height: 100px;
        font-size: 40px;
        position: relative;
        top: 20px;
    }

    nav {
        width: 100%;
        display: flex;
        gap: 30%;
    }

    .hamburger {
        display: none;
    }

    .menu {
        width:100%;
        display: flex;
        flex: 1 1 0%;
        gap:20px;
    }

    .menu img {
        position: relative;
        bottom: .5px;
    }

    #dark{
        width: 40px;
        position: relative;
        bottom: 4px;
    }

    .menu a {
        color:var(--clr-primary);
        text-decoration: none;
    }
    
    .menu a:hover {
        color:var(--clr-light);
        transition:0.2s;
    }

    .mobile-nav {
        display: none;
    }

    .mobile-nav a {
        color:var(--clr-primary);
    }

    .projects {
        height: 290vh;
        overflow-y: hidden;
    }

    .projects h1 {
        margin-top: 1px;
    }

    .project-grid {
        grid-template-columns: repeat(3,1fr);
        gap: 30px;   
    }

    .btn {
        position: relative;
        left: 68%;
    }

    .footer {
        height: 50vh;
        width:100%;
    }
    
    .footer h5 {
        color:var(--clr-primary);
        padding:10px 0px;
        border-top:2px solid var(--clr-primary);
    }
}
